@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "Circular Std Book";
  src: url("/fonts/Circular_Std_Book.woff") format("woff");
}

h1,h2,h3,h4,h5,h6 {
	font-family: Circular Std Book;
	font-size: 40px;
	line-height: 48px;
	color: #1c1c1c;
	font-weight: 400;
}
p,li {
	font-family: Circular Std Book;
	font-size: 22px;
	line-height: 30px;
  	color: #89CFF0;
	font-weight: 400;
}
a {
	font-family: Circular Std Book;
	font-size: 22px;
	line-height: 30px;
  	color: #1c1c1c;
	font-weight: 400;
}
.link {
	font-family: Circular Std Book;
	font-size: 22px;
	line-height: 30px;
  	color: #1c1c1c;
	text-decoration: none;
	font-weight: 400;
}
.link::after {
    content: '\2197';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	margin-left: 5px;
}
.footer-bg {
	background-color: #EFEFEF;
	border-radius: 10px;
	max-width: 350px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.spacing {
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
::selection {
    background: #89CFF0;
	color: #1c1c1c;
}
.youtube-responsive {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.youtube-responsive iframe,
.youtube-responsive object,
.youtube-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}